*{
    margin: 0%;
    padding: 0%;
}
.main{
    background-color: bisque;
    width: 40%;
    height: 40%;
    padding: 10%;
    display: flex;
    justify-content: center;
    margin-left: 17%;
    margin-top: 15%;
    gap: 20px;
    
}
.text{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.red{
    background-color: red;
    width: 20%;
    height: 30%;
    padding: 10%;
    border: 2px solid black;
}
.green{
    background-color: green;
    width: 20%;
    height: 30%;
    padding: 10%;
    border: 2px solid black;
}
.blue{
    background-color: blue;
    width: 20%;
    height: 30%;
    padding: 10%;
    border: 2px solid black;
}
.black{
    background-color: black;
    width: 20%;
    height: 30%;
    padding: 10%;
    border: 2px solid black;
}